src/main/resources/schema/topics.xsd

<?xml version="1.0"?>
<!--
  ~ Copyright (C) 2015 Jens Bertram (code@jens-bertram.net)
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="topicPassages">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element type="meta" name="meta"
                            minOccurs="0" maxOccurs="1"/>
                <xs:element type="languages" name="languages"
                            minOccurs="0" maxOccurs="1"/>
                <xs:element type="passagesList" name="passages-list"/>
                <xs:element type="scorers" name="scorers"
                            minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="meta">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="data">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="name" type="xs:string" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="languages">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="lang">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element type="xs:string" name="stopwords"/>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="name"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="passagesList">
        <xs:sequence>
            <xs:element name="passages" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element type="passagesListEntry" name="p"/>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="source"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="passagesListEntry">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element type="xs:string" name="content"
                        minOccurs="1" maxOccurs="1"/>
            <xs:element type="scoreEntry" name="score"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="lang"/>
    </xs:complexType>

    <xs:complexType name="scoreEntry">
        <xs:attribute type="xs:string" name="impl"/>
        <xs:attribute type="xs:boolean" name="empty"/>
        <xs:attribute type="xs:double" name="score"/>
    </xs:complexType>

    <xs:complexType name="scoreEntryResult">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element type="scoreEntryResultItem" name="items"
                        minOccurs="0" maxOccurs="1"/>
            <xs:element type="scoreEntryResultList" name="lists"
                        minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="scoreEntryResultItem">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element type="xs:string" name="item"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="scoreEntryResultList">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="item">
                <xs:complexType>
                    <xs:sequence minOccurs="1" maxOccurs="unbounded">
                        <xs:element name="entry">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="key"
                                                      type="xs:string"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="scorers">
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="scorer">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="impl"
                                          type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>